
// Font stylings
$main_font_family:  Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

// Colors
$main-color: rgb(2, 52, 233);

$main-1: rgba($main-color, .1);
$main-2: rgba($main-color, .2);
$main-3: rgba($main-color, .3);
$main-4: rgba($main-color, .4);
$main-5: rgba($main-color, .5);
$main-6: rgba($main-color, .6);
$main-7: rgba($main-color, .7);
$main-8: rgba($main-color, .8);
$main-9: rgba($main-color, .9);
